# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MobarezooServer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\MobarezooServer\.idea\.idea.MobarezooServer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
